In [1]:
shopping = ('sugar','milk', 'bread', 'detergents')
print(type(shopping))

<class 'tuple'>

In [2]:
#mixed tuple
mixed_tuple =('sugar',20,3,14,True)
print(mixed_tuple)

('sugar', 20, 3, 14, True)

In [3]:
#unpacking
person = ('John', 25, 'Data Scientist')
name, age, profession = person
print(name)

John

In [4]:
#nested tuples-tuples inside a tuple
my_tuple = ((1, 2),(3, 4))
print(my_tuple[1][0])

3

In [7]:
#count-number of occurance
numbers =(1, 2, 3 , 2, 4, 6, 1, 2,)
print(numbers.count(2))
#print(numbers)

3

In [8]:
#concurtination- its using the plus sign
tuple1 = (1, 2, 3, 4)
tuple2 =(5, 6, 7, 8)

combined =tuple1 + tuple2
print(combined)

(1, 2, 3, 4, 5, 6, 7, 8)

In [9]:
tuple3 = (1, 2, 3, 4, 5)
print(tuple3 * 5)

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [10]:
my_string = "zindua"
reversed_string = my_string[::-1]
print(reversed_string)

audniz